<div class="card m-2" style="width: 18rem;">
    <img src="img/image.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%=  product.description%></p>
      <p class="card-text"><%=  product.price%></p>
      <p class="card-text"><%=  product.stock%></p>
      <button value="<%= product._id %>" type="button" class="btn btn-primary addCart">Agregar</button>
    </div>
  </div>